name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        id: setup-uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Set up Python
        run: uv python install 3.12
      - name: Install dependencies
        if: steps.setup-uv.outputs.cache-hit != 'true'
        run: |
          uv sync
      - name: Run tests
        id: test
        run: |
          uv run python -m pytest
